@import url(//fonts.googleapis.com/css?family=Vibur);

body{ 
  min-height:100vh;
  min-width: 100vw;
  background-color:#060909; 
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Intro{
  width: 60%;
  height: 95vh;
  padding-left: 140px;
}

.introInfo{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 120px 0;
}

.description{
  min-height: 24px;
}

h2{
  font-size: 60px;
  line-height: 1;
  text-shadow: 4px 4px 1px #ca40ba;
  padding-left: 12px;
}

span {
  display: block;
  font-size: 21px;
  color:#ca40ba;
  font-weight: 800;
  text-shadow: none;
  margin:3px 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}

.content{
  display: flex;
}

.Skillset{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
  position: relative;
  margin: auto;
  padding: 1em;
  -webkit-animation: 7s ease 0s normal forwards 1 fadein;
  animation: 7s ease 0s normal forwards 1 fadein;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Skill{
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  font-size: 20px;
  padding: 0.5em;
  text-align: center;
}
.Key{
  color:white;
  font-weight: bold;
  margin-top: 35px;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}